a{
	color: rgb(0, 217, 255);
}
a:hover{
	color: #ff00aa;
}
body{
	font-family: "Space Mono", monospace;
	background-image: url("public/Screenshot from 2019-10-02 09-04-03.png");
	background-position: center;
	background-size: cover;
	background-repeat: repeat;
	color: #99a1b3;	
	font-size: 20px
}
nav{
	background-image: url("public/nav-banner.png");
	background-position: center;
	background-size: cover;	

}

ul{
	list-style-type:none;
	padding: 10px;
}

#image{
	padding: 30px;
}
#image:hover{
	transform: scale(1.2);
}
.list-item{
	font-size: 20px; 
}
.navbar-nav>li>a{
	color: yellow !important;
	padding-top: 40px;
	height: 80px;
	font-size: 20px;
}
.navbar-nav>li>a:hover{
	color: white !important;
	border-bottom: 1.5px solid #fff922;
}
.navbar-default{
	border: 0;
	padding-bottom: 0;
}
.container-head{
	width: auto;
	padding: auto;
	padding-left: 30px;
	padding-right: 0;
	padding-bottom: 0;
}
.title-1{
	font-family: 'Space Mono', monospace;
	font-size:5rem;
	font-weight: bolder;
	/*margin-top:5rem;*/
	color:yellow;
	text-align:center;
}
.title-2{
	font-family: 'Space Mono', monospace;
	font-size:2.75rem;
	font-weight: bold;
	margin-top:2rem;
	color:white;
}
.title-3{
	font-family: 'Space Mono', monospace;
	font-size:5rem;
	font-weight: bold;
	margin-top:5rem;
	color:white;
	text-align: center;
}
.container{
	font-family: 'Space Mono', monospace;
	flex-grow:1;
	margin:0 auto;
	position:relative;
	width:auto;
}
.steps-list{
	margin-left:3%;
}

.points{
	padding-left: 100px;
}
.pink-highlight{
	color:#ff00aa;
}
ul.animated-thank-you { 

                 width:100%;
                 max-width:1200px;
                 margin:0 auto;
                 font-weight:1000;
                 list-style-type: none;
                 padding: auto;
                 padding: left 0;px;
                 padding-top: 9px;
}
ul.animated-thank-you li { 
                 float:left;
                 display:none;
                 height:165px;
                 font-family: "Space Mono", monospace;
                 color: white;
                 font-size:  65px;
				 padding-top: 9px;
                 
}  
ul.animated-thank-you li.hacktober{
	font-family: 'Mansalva', cursive;
	font-size: 90px;
	color: #ff00aa;
}      
@media screen and (min-width: 1024px){
	.container{width: 85%}
}

body.section{
	padding:0 135px;
	margin:0;
}
@media screen and (max-width: 1288px){
	body.section{
		padding:30px 85px 30px 85px;
	}
}
@media screen and (max-width: 1024px){
	body.section{
		padding:30px 30px 30px 30px;
		text-align:center;
	}
}
@media only screen and (max-width: 600px) {
	ul.animated-thank-you li{
		font-size: 40px;
		height: 100px;
		font-family: 'Mansalva', cursive;
	}
	ul.animated-thank-you li.hacktober {
		font-size: 50px;
	}
}
.title-4{
	font-family: 'Space Mono', monospace;
	font-size:1.5rem;
	font-weight: bold;
	
    margin-left:1.25rem;
	
}
.title-5{
	font-family: 'Space Mono', monospace;
	font-size:2rem;
	font-weight: bold;
	margin-top:0.25rem;
	color:white;
	margin-left:1.25rem;
}

