body{
	font-family: "Space Mono", monospace;
	background-image: url("public/Screenshot from 2019-10-02 09-04-03.png");
	background-position: center;
	background-size: cover;
	color: white;	
}
nav{
	background-image: url("public/Screenshot from 2019-10-02 09-04-03.png");
	background-position: center;
	background-size: cover;		
}

ul{
	padding: 10px;
}
#image{
	padding: 30px;
}
#image:hover{
	transform: scale(1.2);
}

li:hover{
	border-bottom: 2px solid #fff922;
}

.list-item{
	font-size: 20px; 
}
.navbar-nav>li>a{
	color: yellow !important;
	padding-top: 40px;
	height: 80px;
}
.navbar-nav>li>a:hover{
	color: white !important;
	border-bottom: 2px solid #fff922;
}
.navbar-default{
	border: 0;
	padding-bottom: 0;
}
.container-head{
	width: auto;
	padding: auto;
	padding-left: 30px;
	padding-bottom: 0;
}




