a{
	color: rgb(0, 217, 255);
}
a:hover{
	color: #ff00aa;
}
body{
	font-family: "Space Mono", monospace;
	background-image: url("public/background.jpeg");
	background-position: center;
	background-size: 100%;
	background-repeat: repeat;
	color: #99a1b3;	
	font-size: 20px;
}

ul{
	list-style-type:none;
	padding: 10px;
}

#image{
	padding: 30px;
}
.image1{
	padding: 30px;
	height: 200px;
	width: 200px;
}
#image:hover{
	transform: scale(1.2);
}
.list-item{
	font-size: 20px; 
}
.navbar-nav>li>a{
	color: yellow !important;
	padding-top: 25px;
	height: 60px;
	font-size: 20px;

}
.navbar-nav>li>a:hover{
	color: white !important;
	border-bottom: 1.5px solid #fff922;
}
.navbar-default{
	border: 0;
	padding-bottom: 0;
}
.navbar-inner{
    background-color: transparent;
}
.container-head{
	width: auto;
	padding: auto;
	padding-left: 30px;
	padding-right: 0;
	padding-bottom: 0;
}

.container{
	font-family: 'Space Mono', monospace;
	flex-grow:1;
	margin:0 auto;
	position:relative;
	width:auto;
}
/*.steps-list{
	margin-left:3%;
}*/

.pink-highlight{
	color:#ff00aa;
}
ul.animated-thank-you { 

                 width:100%;
                 max-width:1000px;
                 margin:0 auto;
                 font-weight:1000;
                 list-style-type: none;
                 padding-top: 0;
                 padding-bottom: 420px;
}
ul.animated-thank-you li { 
                 float:left;
                 display:none;
                 height:130px;
                 font-family: "Space Mono", monospace;
                 color: white;
                 letter-spacing: 4px;
                 font-size:  55px;
				 padding-top: 10px;
                 
}  
ul.animated-thank-you li.hacktober{
	font-family: 'Mansalva', cursive;
	font-size: 60px;
	color: #ff00aa;
}      
@media screen and (min-width: 1024px){
	.container{width: 85%}
}

body.section{
	padding:0 135px;
	margin:0;
}
@media screen and (max-width: 1288px){
	body.section{
		padding:30px 85px 30px 85px;
	}
}
@media screen and (max-width: 1024px){
	body.section{
		padding:30px 30px 30px 30px;
		text-align:center;
	}
}
@media only screen and (max-width: 600px) {
	ul.animated-thank-you li{
		font-size: 40px;
		height: 160px;
		font-family: 'Mansalva', cursive;
	}
	ul.animated-thank-you{
		padding-bottom: 100px;
	}
	body{
		font-family: "Space Mono", monospace;
		background-image: url("public/Screenshot from 2019-10-02 09-04-03.png");
		background-position: center;
		background-repeat: repeat;
		color: #99a1b3;	
		font-size: 20px;
	}
	ul.animated-thank-you li.hacktober {
		padding-top: 0;
		font-size: 40px;
	}
}
.title-4{
	font-family: 'Space Mono', monospace;
	font-size:20px;
	text-align: center;
	font-weight: bold;
    /*margin-left:1.25rem;*/
	
}
.title-5{
	font-family: 'Space Mono', monospace;
	font-size:25px;
	font-weight: bold;
	text-align: center;
	color:white;

}
  /* Smartphone Portrait and Landscape */
.mobileShow {display: none;}
@media only screen and (max-device-width : 600px){ 
	.mobileShow {display: inline;}
	
}

