<!-- Clients Aside -->
<section id="clients">
  <aside class="clients">
    <div class="container">
      <div class="row">
        <h1>Resources</h1>
        
        {% for client in site.data.clients %}
        <div class="col-md-4 col-sm-6">
          <div class="resCard">
            <a href="{{ client.web }}" target="_blank">
              <h4 class="card-title">{{client.img-alt}}</h4>
              <a href="{{client.web}}" class="btn btn-primary"> GO </a>
            </a>
          </div>
        </div>
        {% endfor %}
        
        
      </div>
    </div>
  </aside>
</section>
